<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPdesk - Login</title>
    <link rel="stylesheet" href="../src/style.css">
</head>
<body>
    <div class="container-fir-login">
        <div class="container-sec-login">
            <div class="container-login">
                <form class="form-login">
    
                    <label for="username">Usuário</label>
                    <input type="text" name="username" id="username" placeholder="login">
    
                    <label for="password">Senha</label>
                    <input type="text" name="password" id="password" placeholder="******">
    
                    <button>
                        <span class="btn-login-transition"></span>
                        <span class="btn-login-gradient"></span>
                        <span class="btn-login-txt">Login</span>
                    </button>
    
                </form>
            </div>
        </div>
    </div>

</body>
</html>