<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UP - Portal do administrador</title>
    <link rel="stylesheet" href="../src/style.css">
    <script src="../src/script.js"></script>
</head>
<body>
    
    <aside id="aside_1">
            
        <div id="box4">
            <div id="pop_up">

                <div id="box4_1" onpointerover="showCriaGrupo()" onpointerleave="hideCriaGrupo()">
                    <button id="btnCriaGrupo">
                        <i class="fa-solid fa-envelope"></i>
                    </button>

                    <div id="box4_1_2">
                        <label id="span_box_4_1" style="width: 0; overflow: hidden;">Novo grupo de atendimento</label>
                    </div>
                </div>

                <div id="box4_2" onpointerover="showCriaUser()" onpointerleave="hideCriaUser()">
                    <button id="btnCriaUser">
                        <i class="fa-solid fa-person"></i>
                    </button>

                    <div id="box4_2_2">
                        <label id="span_box_4_2" style="width: 0; overflow: hidden;">Novo usuário</label>
                    </div>
                </div>

                <div id="box4_3" onpointerover="showCriaForm()" onpointerleave="hideCriaForm()">
                    <button id="btnCriaForm">
                        <i class="fa-solid fa-file"></i>
                    </button>

                    <div id="box4_3_2">
                        <label id="span_box_4_3" style="width: 0; overflow: hidden;">Novo formulário</label>
                    </div>
                </div>
            
            </div>
        </div>
        
    </aside>

    <section class="container-admin">
        
        <div class="admin-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos in cupiditate repellat a esse excepturi voluptas laudantium fugiat odio? Eos voluptatum ratione beatae magni dolores aliquam aspernatur. Deserunt, inventore obcaecati.
        </div>

    </section>
    
	<script src="https://kit.fontawesome.com/1ef87b5e1c.js" crossorigin="anonymous"></script>
</body>
</html>