<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/style.css">
    <script src="../src/script.js"></script>
    <title>UPdesk - Portal</title>

	<style>
	</style>

</head>
<body onscroll="scrollDown()">

	<header>

		<nav id="navbar">

			<div class="navbar-left">
			  <a href="#" class="logo">UP<span>desk</span></a>
			</div>

			<div class="navbar-right">
				
                <a class="navbar-link">Minhas solicitações</a>
                <i id="userIcon" class="fas fa-user"></i>
                <ul id="optionsList">
                    <li><a>Perfil</a></li>
                    <li><a>Logoff</a></li>
                </ul>

			</div>

		  </nav>

	</header>
	
	<main>
		<div class="container-search">
			<h2 class="title"></h2>
			<input type="text" class="search-bar" placeholder="Encontre formulários e serviços">
		</div>
		
		<div class="content">
			<h2>Selecione o departamento para abrir uma solicitação</h2>
	
			<div class="container">
	
				<div class="block" id="block-ti">
					<div class="block-container">
						<h3>Tecnologia da Informação</h3>
						<p>O departamento de Tecnologia da Informação é responsável por fornecer suporte técnico para a infraestrutura de tecnologia da empresa, incluindo servidores, redes, sistemas operacionais e software de aplicativos.</p>
					</div>
				</div>
	
				<div class="block" id="block-rh">
					<div class="block-container">
						<h3>Recursos Humanos</h3>
						<p>O departamento de Recursos Humanos é responsável por gerenciar a contratação, treinamento e desenvolvimento de pessoal, bem como as relações com os funcionários, incluindo a resolução de conflitos e a administração de benefícios.</p>
					</div>
				</div>
	
				<div class="block" id="block-fin">
					<div class="block-container">
						<h3>Financeiro</h3>
						<p>O departamento de Finanças é responsável pela administração das finanças da empresa, incluindo a contabilidade, orçamento, previsão financeira e gerenciamento de risco.</p>
					</div>
				</div>
	
				<div class="block" id="block-mkt">
					<div class="block-container">
						<h3>Marketing</h3>
						<p>O departamento de Marketing é responsável por promover os produtos e serviços da empresa, incluindo publicidade, relações públicas, marketing digital e desenvolvimento de marca.</p>
					</div>
				</div>
	
				<div class="block" id="block-sup">
					<div class="block-container">
						<h3>Suprimentos</h3>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati enim quia, dolorum est commodi earum perspiciatis expedita deserunt quos omnis ipsum, eos tempore hic tenetur consequatur! Ab quisquam ipsa error!</p>
					</div>
				</div>
	
				<div class="block" id="block-cobranca">
					<div class="block-container">
						<h3>Cobrança</h3>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, officiis. Voluptas iste quaerat laboriosam omnis accusantium, consequuntur nisi necessitatibus quod nesciunt, eum dolorum nihil magni rem impedit, error dicta aspernatur.</p>
					</div>
				</div>
	
				<div class="block" id="block-contabil">
					<div class="block-container">
						<h3>Contabilidade</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere repudiandae, nemo cumque ad ex, quis accusantium error, sit cupiditate provident itaque. Dicta sunt aspernatur odio perspiciatis vitae, natus mollitia a.</p>
					</div>
				</div>
	
			</div>
		</div>

	</main>

	<div id="modal" class="modal">
		<div class="modal-block">
			<div class="modal-close">
				<span class="close">&times;</span>
			</div>
		</div>
	</div>

	<footer>
		<div class="container-footer">
		  <div class="row">
			<div class="col-12">
			  <p class="help-text">Estamos aqui para te ajudar! fale conosco :)</p>
			  <p class="contact-text">Se a sua solicitação não foi resolvida envie uma mensagem abaixo</p>
			  <div class="button-container">
				<button class="button-ft">Minhas solicitações</button>
				<button class="button-ft">Preciso de ajuda</button>
			  </div>
			</div>
		  </div>
		</div>
		<div class="footer-bottom">
		  <p>UP Support. All rights reserved.</p>
		</div>
	</footer>
	
	<script src="https://kit.fontawesome.com/1ef87b5e1c.js" crossorigin="anonymous"></script>
</body>
</html>